<!-- {//% if score>6 %}  -->     
<div id="app" class="con">
<!-- <div class="task-content">
    <h1 class="studentSystem">简历填写</h1>
    <div class="one">
        <h3 class="cire">掌握技能点 <span class="tips" id="skillsTip"></span></h3>
        <div class="line">
            <hr/>
        </div>
        <div id="skills" class="task">
            <ul class="student kills" id="killData">
                {% for key in result %}
                <li>
                    <input type="checkbox" class="js-checkbox-all selects checkbox-tv" value=[[key.id]] name="result">
                    <span class="test" >[[key.value]]</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="two kills"  id="cityData">
        <h3 class="cire">期望地点 <span class="tips"  id="locationTip"></span></h3>
        <div class="line">
            <hr/>
        </div>
        <div class="task">
            <ul class="student kills">
                {% for key in city %}
                <li>
                    <input type="checkbox" class="js-checkbox-all selects checkbox-tv" value=[[key.id]] name="city">
                    <span class="test">[[key.value]]</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="three ">
        <h3 class="cire">期望薪资 <span class="tips"  id="salaryTip"></span></h3>
        <div class="line">
            <hr/>
        </div>
        <div class="task">
            <ul class="student kills"  id="wageData">
                {% for key in scalay %}
                <li>
                    <input type="radio" name="salary" id=[[key.id]] value=[[key.id]]> <span class="test money">[[key.value]]</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="">
        <h3 class="cire">自我描述</h3>
        <div class="line">
            <hr/>
        </div>
        <form>
            <div>
                <form class="form-horizontal" type="POST">
                    <div class="control-group">
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <textarea id="post_body" name="body" class="textarea" placeholder="自我描述"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </form>
    </div>
</div>
<br/>
<br/>
<div class="success">
    <button type="button" class="  btn btn-success submits">提交</button>
</div>
<div> -->
    <!-- <div class="container">
    </div>
</div> -->
</div>
<!--  {//% else %}
<h1 class="study">好好学习后面的内容……😎</h1>
{//% endif % -->
